/*  main.css /*







































#nav{
    width:100p%;
    position:relatvive;
    height:106px;
    }
#logo_box{
    padding:8px 0;
    float:left;
    /* float은 뜨다의 뜻을 가지고 있고 html에는서도 상위 태그 위 떠있는 형태로 표시 되기 때문에 상위태그에 포함되지 않는다.
    정렬을 위한 속성이지만 상위태그에 미포함되기 때문에 상위태그에 높이, 여백 같은값을 별도로 지정해줘서 사용해야한다
    /*





















    #meun 


    
TEXT-SHADOW: 3PX 3PX 2PX ;#eAAF0;
}


#MAIN:100%;
    WIDTH:100

#SLIDE{
    WIDTH:100;
}
#SLIDE .SLIDE_IMAGE{
    BACKGROUNG:URL(../IMAGE/StIde);
    BACKGROUNG: NO-repeat;
    BACKGROUNG:
}   
   BACKGROUNG-SIZE:COVER;
    height:350PX;
}
OPACITY: ;0.7;
CURSOR:POINTER;
}



#CONTENT{
    WIDTH:100PX;
    heige:300PX;






















.LEFT_CONTENT{
    fLOAT:left
    WIDTH:50;
}
.right_contenot . notice . title{
    

.EVENT_TOP{
background: URL(../image/event1.)no-repeat center;
background-size: COVER.
height:55px
border-radius: 10px
box-shadow: 3PX 3PX 5PX #666;

.EVENT_bottom{
    bockground: URl (../image/event2)no-repeat center;
    background-size:Cover;
    heigeht:









    #footer{
     background:#3b414D;
     Padding:






















     #foot_TEXT{
        COLOR: #bbb;
        font-weight:30PX 